html {
    font-size: 120%;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem; 
    padding: 1rem;
    text-align: center;
}
 main {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
 }

 .background-image {
   background-repeat: no-repeat;
   height: fit-content;
   width: fit-content;
   display: no-repeat;
   flex-wrap: nowrap;
    
    
 }

 ul li {
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

 }
 
 ul li:nth-child(odd) {
    background: #f9f9f9;
 }

 ul li:hover {
    background: #ddd;
 }

 ul li .checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 1rem;
    transform: rotate(45deg);
    height: 1rem;
    width: 0.5rem;
 }

 .close {
    content: '';
    position: absolute;
    border-style: solid;
    border-radius: 0.2rem;
    border-width: 0.1rem;
    right: 0.1rem;
    top: 0.3rem;
    height: 1.5rem;
    width: 1.5rem;
 }
 
 .close:hover {
    background-color: #f44336; 
    color: white;
 }

 .addButton:hover {
    background-color: #bbb;
 }

 .addItem:hover {
    background-color: #bbb;
 }  


 .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.6rem;
    align-items: center;
 }

 .flex-item {
    padding: 1rem;
    font-size: 2rem;
    width: 20rem;
    height: 10rem;
 }

 .flex-item-1 {
    align-self: flex-end;

 }

 .flex-item-2 {
    height: 20rem;
 }

.addButton {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    row-gap: 0.2rem;
}

input {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    
}
.checkbox {
    height: 1.5rem;
    width: 1.5rem;
}
/* kilde kode på nett til check, uncheck items on the list : https://www.w3schools.com/howto/howto_ja_todolist.asp */